body {
  background-color:#fff;
  padding: 2em;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: #212121;
}
.both{
	background-image: url(vote1.jpg);
	background-repeat:no-repeat;
	position:relative;
	background-position: 49% 49%;
	
}
.container-cx{
  width: 80%;
  margin: 0 auto;
}

.center-cx{
	margin: 0 auto;
	width: 80%;
	height: 250px;
}


.btn-cx,
#ftc-make-cx{
	float: left;
	height: 200px;
	width: 32%;
	text-align: right;
	padding-left: 5%;
}
#ftc-make-cx{
	width: 50%;
	text-align: left;
	padding-left: 13%;
}

.center-cx::after{
content:"";
display:inline-block;
clear:both;
}

.bold { 
  font-weight: bolder;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    background-color: #00BCD4;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	margin-top: 10px;
}

.sell { 
  background-color: white;
  color: #D1C4E9;
}

.ftc-intro {
  background-color:#0097A7;
  color:white;
  width:100%;
  padding:20px;
}

.form-group {
  background-color:#0097A7;
  color:black;
  width:50%;
  padding:30px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.form-break {
  background-color:#fff;
  color:white;
  width:100%;
  padding:5px;
}
#form-group_cx{
	display: none;
}

#form-group_cx :target{
	display: block;
}

.horizontal-rule {
  background-color:#BDBDBD;
}
